<div class="container">

  <h1>Login Page</h1>
  <form #loginF = "ngForm" (ngSubmit)="authUser()" novalidate>

  <!-- {{loginF.value | json}} -->

  <!-- <hr> -->

  <!-- {{userAuthData| json}} -->
  <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)] = userAuthData.email>
  </div>
  

  <!-- Password -->
  <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" [(ngModel)] = userAuthData.password >
  </div>


  <button type="submit" class="btn btn-primary">Log In</button>

</form>
</div>