<div class="container">
  <form   #signupForm = "ngForm" >

  <h1 class="mb-3"><strong>Registration form</strong></h1>

  <div class="form-group" >
    <label class="control-label">Username</label>
    <input type="text" class="form-control" name="username" required [(ngModel)] = "userModel.username" #username="ngModel" >
    <!-- <span>{{username.className}}</span> -->
    <span [hidden]="username.valid || username.pristine" class="alert-danger">Please Enter A Valid Username</span>
  </div>

  <div class="form-group">
    <label >E-mail</label>
    <input required type="e-mail" class="form-control" required name="email" [(ngModel)] = "userModel.email" #email="ngModel" email>
    <span [hidden]="email.valid || email.pristine" class="alert-danger">Please Enter A Valid E-Mail Id</span>
  </div>
  

  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control" name="phnumber" required [(ngModel)] = "userModel.phnumber" [pattern]="phnumberPattern" #phnumber="ngModel">
    <span [hidden]="phnumber.valid || phnumber.pristine" class="alert-danger" >Please Enter A Valid Phone Number</span>
  </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" [(ngModel)] = "userModel.gender" value="male" >
      <label class="form-check-label" >
        Male
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" [(ngModel)] = "userModel.gender" value="female" >
      <label class="form-check-label" >
        Female
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" [(ngModel)] = "userModel.gender" value="other" >
      <label class="form-check-label" >
        Prefer not to say
      </label>
    </div>
  </div> 

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" required  [(ngModel)] = "userModel.password" [pattern]="paswPattern"  #pasw="ngModel">
    <span [hidden]="pasw.valid || pasw.pristine" class="alert-danger">Please Enter A Valid Password</span>
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" name="cpassword" required  [(ngModel)] = "userModel.cpassword" [pattern]="paswPattern" #cpasw="ngModel" >
    <span [hidden]="cpasw.valid || cpasw.pristine " class="alert-danger" >Please Re-Enter The Same Password</span>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" name="tandc" class="form-check-input" [(ngModel)] = "userModel.tandc" #acceptTerms="ngModel" required>
    <label class="form-check-label">
      Accept Terms & Conditions
    </label>
</div>


  <button type="button" class="btn btn-primary" [disabled]="!signupForm.form.valid" (click)="onSubmit()">Submit</button>
  <button type="button" class="btn btn-primary ml-5 px-3 " (click)="signupForm.reset()">Reset</button>  
</form>
</div>